/DefineUser$1.class
/DefineUser$2.class
/DefineUser.class
/RegisterAdmin$1.class
/RegisterAdmin$2.class
/RegisterAdmin.class
/RegisterPatient$1.class
/RegisterPatient$2.class
/RegisterPatient.class
/registerMedecin$1.class
/registerMedecin$2.class
/registerMedecin.class
